.team {
  padding: 100px 0;
}
@media (max-width: 768px) {
}

.modal {
  max-width: 700px;
  width: 100%;
  background-image: url(../../assets/images/modal-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  padding: 20px;
  border-radius: 35px;
  overflow: hidden;
  transition: all 0.5s;
}

.modal-wrapper {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
}
